{{#Chats}}
<div class="row">
    <div class="message d-flex">
        <div class="message-image">
            <a href="http://localhost:61076/UserProfile/Index?userId={{SenderId}}">
                <img class="message-image-img" onerror="this.src='@Url.Content("~/Content/Images/MissingImage.jpg")'" src="http://localhost:61076/User/Avatar/{{SenderId}}" title="Avatarka" />
            </a>
        </div>
        <div class="message-text ">
            <p class="float-left">
                {{Message}}
            </p>
        </div>
    </div>
</div>
{{/Chats}}

