.LoveButton {
    font-size: 64px;
    color: red;
    cursor: pointer;
    margin: 5px;
    animation: .9s infinite beatHeart;
}

  .LoveButton:hover {
        color: red;
        animation: .5s infinite beatHeart;
    }

.loveContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes beatHeart {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    40% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}