@model IEnumerable<MyInstaMVC.Models.UserModel>

@{
    ViewBag.Title = "Мои друзья";
}
<div class="MainWrapper">
    <h2>Поиск друзей</h2>
    <table class="table">
        <tr>
            <th>
                Никнейм
            </th>
            <th>
                Аватар
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NickName)
                </td>
                <td>
                    <div class="user-profiling">
                        <img onerror="this.src='@Url.Content("~/Content/Images/MissingImage.jpg")'" src="@Url.Action("Avatar","User",new {id=item.Id })" />
                    </div>
                </td>
                <td>
                    <a href='@Url.Action("Index","UserProfile",new {userId = item.Id })'>Профиль</a>
                </td>
            </tr>
        }

    </table>
</div>