@model MyInstaMVC.Models.LoveModel

<link href="~/Content/LovePage.css" rel="stylesheet" type="text/css" />

<script src="~/Angular/Controllers/MainController.js"></script>
<script src="~/Angular/App.js"></script>

<body>
    <div ng-app="App" ng-controller="MainController" data-ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Loves))">

        <div class="row">
            <div class="loveContainer">
                <a ng-click="CreateLoves()" class="LoveButton"><i class="fas fa-heart"></i></a>
            </div>
        </div>

        
           
        

        <br />
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Number</th>
            </tr>
            <tr ng-repeat="l in loves">
                <td>{{l.ID}}</td>
                <td>{{l.Number}}</td>
            </tr>
        </table>






    </div>


</body>


