@model MyInstaMVC.Models.LoveModel

<link href="~/Content/LovePage.css" rel="stylesheet" type="text/css" />

<script src="~/Angular/Controllers/MainController.js"></script>
<script src="~/Angular/App.js"></script>

<body>
    <div ng-app="App" ng-controller="MainController" data-ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Loves))">

        <div class="row">
            <div class="loveContainer mx-auto">
                <a ng-click="CreateLoves()" class="LoveButton"><i class="fas fa-heart"></i></a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6">
                <div style="text-align:right"><span>Он</span></div>
                <table class="table table-he">                  
                    <tr>
                        <th>Номер</th>
                        <th style="text-align:right">Имя</th>
                    </tr>
                    <tr ng-repeat="l in manloves |  orderBy: '-Number'">
                        <td>{{l.Number}}</td>
                        <td style="text-align:right">{{l.NickName}}</td>                       
                    </tr>
                </table>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6 ">
                <span>Она</span>
                <table class="table table-she">                   
                    <tr>
                        <th>Имя</th>
                        <th>Номер</th>
                    </tr>
                    <tr ng-repeat="l in girlloves | orderBy: '-Number'">
                        <td>{{l.NickName}}</td>
                        <td>{{l.Number}}</td>
                    </tr>
                </table>
            </div>
        </div>




    </div>


</body>


