@model MyInstaMVC.Models.LoveModel

<link href="~/Content/LovePage.css" rel="stylesheet" type="text/css" />

<script src="~/Angular/Controllers/MainController.js"></script>
<script src="~/Angular/App.js"></script>

<body>
    <div ng-app="App" ng-controller="MainController" data-ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Loves))">

        <div class="row">
            <div class="loveContainer">
                <a ng-click="CreateLoves()" class="LoveButton"><i class="fas fa-heart"></i></a>
            </div>
        </div>

        <input type="text" id="query" ng-model="query" />



        <br />
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6">

                <table class="table">
                    <caption>Он</caption>
                    <tr>
                        <th>ID</th>
                        <th>Number</th>
                    </tr>
                    <tr ng-repeat="l in loves | filter: {Gender: 'Man'} | orderBy: '-Number'">
                        <td>{{l.ID}}</td>
                        <td>{{l.Number}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6 ">
                <table class="table">
                    <caption>Она</caption>
                    <tr>
                        <th>ID</th>
                        <th>Number</th>
                    </tr>
                    <tr ng-repeat="l in loves | filter: {Gender: 'Girl'} | orderBy: '-Number'">
                        <td>{{l.ID}}</td>
                        <td>{{l.Number}}</td>
                    </tr>
                </table>
            </div>
        </div>




    </div>


</body>


