@model MyInstaMVC.Models.UserProfileModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal">
    <h2>Profile</h2>
    <h4>NickName</h4>
    @Model.User.NickName
    <h4>Avatar</h4>
    <div class="form-group">
        <img class="control-label col-md-2" onerror="this.src='@Url.Content("~/Content/Images/MissingImage.jpg")'" src="@Url.Action("Avatar",new {Id=Model.User.Id })" title="Avatarka" />
    </div>
    <h4>Description</h4>
    @Model.User.Description
</div> 